.weather--display--element {
    color: #cccccc;
    background-color: #282c34;
    border: 1px solid rgba(153, 153, 153, 0.7);
}

.item {
    background-color: #282c34;
}

.list-group {
    font-family: 'Quicksand', sans-serif;
}