footer {
    background: linear-gradient(to right, rgb(150, 201, 61), rgb(0, 176, 155));
}
.footer--container {
    padding-top: 20px;
    font-family: 'Quicksand', sans-serif;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}